<svg viewBox="0 0 300 200" class="illustration">
  <g transform="translate(40 60) rotate(-16)">
    <rect x="-32" y="-40" width="64" height="80" rx="14" fill="#F0935A"/>
    <path d="M0,10 C-11,2 -11,-8 -3,-8 C-1,-8 0,-6 0,-5 C0,-6 1,-8 3,-8 C11,-8 11,2 0,10 Z" fill="#ffffff"/>
    <animateTransform attributeName="transform" type="translate" additive="sum" values="0,0; 0,-10; 0,0" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.42 0 0.58 1;0.42 0 0.58 1" dur="8s" repeatCount="indefinite"/>
  </g>
  <g transform="translate(100 110) rotate(10)">
    <rect x="-32" y="-40" width="64" height="80" rx="14" fill="#F4C64F"/>
    <g>
      <rect x="-11" y="-9" width="22" height="16" rx="6" fill="#ffffff"/>
      <polygon points="-6,7 -1,7 -6,13" fill="#ffffff"/>
    </g>
    <animateTransform attributeName="transform" type="translate" additive="sum" values="0,0; 0,-10; 0,0" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.42 0 0.58 1;0.42 0 0.58 1" dur="10.5s" repeatCount="indefinite"/>
  </g>
  <g transform="translate(160 55) rotate(-6)">
    <rect x="-32" y="-40" width="64" height="80" rx="14" fill="#9BC46B"/>
    <polygon points="-8,-11 -8,11 12,0" fill="#ffffff"/>
    <animateTransform attributeName="transform" type="translate" additive="sum" values="0,0; 0,-10; 0,0" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.42 0 0.58 1;0.42 0 0.58 1" dur="7s" repeatCount="indefinite"/>
  </g>
  <g transform="translate(220 105) rotate(14)">
    <rect x="-32" y="-40" width="64" height="80" rx="14" fill="#6B006D"/>
    <g>
      <path d="M0,-9 C-5,-9 -7,-5 -7,-1 L-7,4 L-9,7 L9,7 L7,4 L7,-1 C7,-5 5,-9 0,-9 Z" fill="#ffffff"/>
      <circle cx="0" cy="9.5" r="1.6" fill="#ffffff"/>
    </g>
    <animateTransform attributeName="transform" type="translate" additive="sum" values="0,0; 0,-10; 0,0" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.42 0 0.58 1;0.42 0 0.58 1" dur="9.5s" repeatCount="indefinite"/>
  </g>
  <g transform="translate(260 55) rotate(-10)">
    <rect x="-32" y="-40" width="64" height="80" rx="14" fill="#F2547C"/>
    <polygon points="-10,-8 10,0 -10,8 -4,0" fill="#ffffff"/>
    <animateTransform attributeName="transform" type="translate" additive="sum" values="0,0; 0,-10; 0,0" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.42 0 0.58 1;0.42 0 0.58 1" dur="11.5s" repeatCount="indefinite"/>
  </g>
</svg>
